* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fdf6f0;
  color: #3a2f2f;
  font-family: 'Libre Baskerville', serif;
  line-height: 1.8;
}


.header {
  text-align: center;
  padding: 70px 20px 40px;
}


.header h1 {
  font-family: 'Playfair Display', serif;
  font-size: 3.2rem;
  letter-spacing: 1px;
}


.subtitle {
  font-size: 0.9rem;
  text-transform: uppercase;
  margin-top: 10px;
}

.container {
  max-width: 720px;
  margin: 50px auto;
  padding: 0 20px;
}

.column h2 {
  font-family: 'Playfair Display', serif;
  font-size: 1.8rem;
  margin-bottom: 15px;
  border-bottom: 1px solid #000;
  padding-bottom: 8px;
}

.column p {
  font-family: 'Cormorant Garamond', serif;
  font-size: 1.15rem;
}


.footer {
  text-align: center;
  padding: 30px;
  border-top: 1px solid #000;
  font-size: 0.8rem;
}

@media (max-width: 900px) {
  .container {
    grid-template-columns: 1fr;
  }

  .header h1 {
    font-size: 2.8rem;
  }
}
.image-container {
  max-width: 800px;
  margin: 40px auto;
  padding: 0 20px;
}

.image-container img {
  width: 100%;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);

}
.button-container {
  text-align: center;
  margin-top: 30px;
}

#loveButton {
  background-color: #8b1e2d;   /* rojo vino */
  color: #fff;
  border: none;
  padding: 14px 36px;
  font-size: 1.1rem;
  border-radius: 40px;
  cursor: pointer;
  transition: all 0.3s ease;
}

#loveButton:hover {
  background-color: #a83245;
  transform: scale(1.05);
}


/* OVERLAY */
#loveOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.85);
  display: none;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: 9999;
}

.love-content {
  text-align: center;
  color: #f4f1ec;
  font-family: 'Playfair Display', serif;
  animation: fadeIn 1.5s ease forwards;
}

.love-content h1 {
  font-size: 4rem;
  margin-bottom: 20px;
}

.love-content p {
  font-size: 1.4rem;
}

/* FADE */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* CORAZONES */
.heart {
  position: absolute;
  bottom: -20px;
  font-size: 24px;
  animation: floatUp 6s linear infinite;
}

@keyframes floatUp {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-110vh);
    opacity: 0;
  }
}
#loveOverlay {
  transition: opacity 0.8s ease;
}

#loveOverlay.hide {
  opacity: 0;
}

